<div class="header">
  <h3 class="text-muted">Angular LinkedIn</h3>

  <div class="">
    <script type="in/Login">
      Hello, <?js= firstName ?> <?js= lastName ?>.
    </script>
    <button ng-show="authenticated" ng-click="logout()">Log out</button>
  </div>
</div>

<div class="row marketing">
  <div>
    <div ng-show="authenticated">
      <h1>You're authenticated!</h1>
      <div>
        <button ng-click="runPoC()">Run PoC</button>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from Sheniff</p>
</div>
